* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-family: 'Zen Antique', serif;
    font-size: 10px;
}

@mixin flex ($flex-direction, $align-items, $justify-content){
    display: flex;
    flex-direction: $flex-direction;
    align-items: $align-items;
    justify-content: $justify-content;
}

.header{
    background-image: url(./assets/images/books-hero-dark.jpg);
    height: 500px;
    width: 1600px;
    margin: auto;
    @include flex(row, center, center)

}

.header__title{
    color: white;
    font-size: 7rem;
    text-transform: uppercase;
    letter-spacing: 6px;

}

.catalog{
    @include flex(column, flex-start, center);
    width: 1600px;
    margin: auto;
    padding: 40px 0;
}

.catalog__title{
    font-size: 4rem;
    padding-bottom: 40px
}

.catalog__book-cards-box{
    display: grid;
    grid-template-columns: (1fr 1fr);
    grid-template-rows: auto;
    gap: 40px;
}

.catalog__book-card{
    @include flex(row, flex-start, center);
    width: 700px;
}

.catalog__book-image{
    width: 200px;
}

.catalog__book-info-box{
    @include flex(column, flex-start, center);
    padding-left: 30px;
}

.catalog__book-title{
    font-size: 2.4rem;
}

.catalog__book-author{
    font-size: 2rem;
}
.catalog__book-description{
    font-size: 1.6rem;
}